.layout {
    height: 100vh;
}

.ant-layout-content {
    margin-top: 50px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__error {
        margin-top: 25px;
        color: tomato;
        text-align: center;
    }
}